[build-system]
requires = ["uv_build>=0.11.12,<0.12"]
build-backend = "uv_build"

[project]
name = "{{project_slug}}"
version = "0.1.0"
description = ""
readme = "README.md"
requires-python = ">=3.10"
dependencies = []

[dependency-groups]
dev = []

{{python_tool_sections}}
