[tool.ruff]
src = ["src"]
include = ["src/**/*.py"]
line-length = 88
indent-width = 4
target-version = "py310"

[tool.ruff.lint]
preview = true

isort = { known-first-party = ["{{package_name}}"] }

select = [
  "C",
  "E",
  "F",
  "I",
  "W",
  "CPY001",
  "RUF013",
  "UP006",
  "PERF102",
  "PLC1802",
  "PLC0208",
  "D",
  "RUF002",
  "DOC102",
  "DOC202",
  "DOC403",
  "DOC502",
]

ignore = [
  "C901", # complex structure / mccabe complexity
  "E501", # line-too-long (formatter handles)
  "E741", # ambiguous variable name
  "D100", # Missing docstring in public module
  "D102", # Missing docstring in public method
  "D104", # Missing docstring in public package
  "D105", # Missing docstring in magic method
  "D107", # Missing docstring in __init__
  "D203", # conflict with D211
  "D213", # conflict with D212
]

fixable = ["ALL"]
unfixable = []

[tool.ruff.lint.per-file-ignores]
"**/__init__.py" = ["F403"]

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
docstring-code-format = true
docstring-code-line-length = "dynamic"
